@charset "UTF-8";

@font-face {
    font-family:face;
    src: url(sunstentablidade/fonts/font-planta.ttf) format(truetype) ;
}
:root{
    --cor01:#35C573;
    --cor02:#17F075;
    --cor03:#90e4b4;
    --cor04:#5bc287;
    --cor05:#439B69;
    --cor06:#437057;
    --cor07:#35463C;
    --cor08:#2C332F;
    --font01:face;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

*  main img{
    width: 250px;
    height: 220px;
}

body{
    background-color: var(--cor03);
}
header{
    background-color:var(--cor04);
    height: 130px;
    margin-bottom: 10px;
    position: relative;
    min-width: 150px;
}

header img{
    border-radius: 37px;
}
header h1{
    text-transform: uppercase;
    font-family: var(--font01);
    text-align: center;
    position: absolute;
    font-size: 34px;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header #perfil-foto{
    width:70px;      
}

#name{
    background-color: rgb(246, 246, 246);
    width: 51px;
    height: 11px;
    margin: 10px 10px 10px 8px;
    border-radius: 2px 2px 2px 2px;
}

main{
    background-color:var(--cor05);
    max-width: 800px;
    min-width: 150px;
    margin: 0 auto;
    border-radius: 10px;
}
.opcoes{
    background-color:black;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    height: 25px;
}
.opcoes p{
    display: inline;
    padding-left: 35px;
    background-color:;
}

.opcoes a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.opcoes a:hover{
    background-color: rgba(255, 255, 255, 0.444);
}
.list1{
    display: none;
}



main>div:nth-child(1) h1{
    text-align: center;
    text-transform: uppercase;
}

main>div:nth-child(1) p{
    padding: 10px 5px 20px 5px;
    margin: auto;
    text-align:justify ;
    max-width: 650px;
    min-width:40px;
    min-height:90px;
}

.corpo{
   display: grid;
   grid-template-columns:auto 1fr;
   align-items: center;
   grid-gap:20px;
   margin: 0 auto;
   padding-bottom: 30px;
   padding-top: 30px;
}

.corpo div img{
    border-radius: 10px;
    margin-left: 10px ;
    margin-top: 15px;
}
.corpo div>p{
    max-width: 650px;
    min-width:90px;
    min-height:90px;
}



@media (min-width:500px){
    header h1{
        text-transform: uppercase;
        font-family: var(--font01);
        text-align: center;
        position: absolute;
        font-size: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}






