@charset "UTF-8";
@font-face {
    font-family:face;
    src: url(sunstentablidade/fonts/font-planta.ttf) format(truetype) ;
}
:root{
    --cor01:#35C573;
    --cor02:#17F075;
    --cor03:#90e4b4;
    --cor04:#5bc287;
    --cor05:#439B69;
    --cor06:#437057;
    --cor07:#35463C;
    --cor08:#2C332F;
    --font01:face;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:var(--cor03);
    background-image: url(midia/horizonte-plantinhas-fundo02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(midia/fundo-samanbaia.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: left center;
    background-color: var(--cor05);

    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;

    padding-bottom:10px ;
    margin: -8px -8px 2px -8px;
    border-radius:2px 2px 0px 0px ;

}
header #perfil-foto{
    display:block;
    width: 70px;
    padding-top:11px ;   
}

#name{
    background-color: white;
    width: 51px;
    height: 11px;
    margin: 10px 10px 10px 8px;
    border-radius: 2px 2px 2px 2px;
}

#title{
    display: block;
    margin-top: 10px;
    font-size: 59px;
    font-family: var(--font01)
}


main {
    padding: 10px;
    background-color: var(--cor04);
    margin: auto;
    text-align: justify;
    width: 900px;

}

h2 {
    text-align: center;
}

#text1{
    text-indent: 30px;
}

#tripe {
    width: 100%;
    height:222px;
    margin-bottom: 32px;
    text-align: center;
}

#tripe>img {
    width: 320px; 
    height: 211px;   
}

.txtmain{
    width: 557px;
    margin:0px 10px;
}

#social {
    width: 250px;
    padding: 15px 15px 15px 15px;
    margin:15px 15px 15px 15px;;


}

#ambiental {
    width: 250px;
    padding: 15px 15px 15px 15px;
    margin:15px 15px 15px 15px;;

}

#economico {
    width: 250px;
    padding: 15px 15px 15px 15px;
    margin:15px 15px 15px 15px;;
}



footer {
    background-color:var(--cor05);
    width: 1495px;
    height: 45px;
    padding: 4px 10px 10px 10px;
    margin:14px 3px -8px -11px;
    border-radius: 10px 3px 2px 2px;

}

footer>nav p{
    margin-left: 31px;
    display: inline-block;
    color: rgb(31, 29, 29);
    border-radius: 2px 2px 2px 2px;
}

footer>nav p strong{
    color: whitesmoke;
}