@charset "UTF-8";

@font-face {
    font-family:face;
    src: url(sunstentablidade/fonts/font-planta.ttf) format(truetype) ;
}
:root{
    --cor01:#35C573;
    --cor02:#17F075;
    --cor03:#90e4b4;
    --cor04:#5bc287;
    --cor05:#439B69;
    --cor06:#437057;
    --cor07:#35463C;
    --cor08:#2C332F;
    --font01:face;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:var(--cor03);
    background-image: url(midia/horizonte-plantinhas-fundo02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    background-image: url(midia/fundo-samanbaia.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: left center;
    background-color: var(--cor05);

    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;

    padding-bottom:10px ;
    margin: -8px -8px 2px -8px;
    border-radius:2px 2px 0px 0px ;
}

header #perfil-foto{
    display:block;
    width: 70px;
    padding-top:11px ;   
}

#name{
    background-color: white;
    width: 51px;
    height: 11px;
    margin: 10px 10px 10px 8px;
    border-radius: 2px 2px 2px 2px;
}

#title{
    display: block;
    margin-top: 10px;
    font-size: 59px;
    font-family: var(--font01)
}
/* Fim Header */

/* Main */
main {
    padding: 10px;
    background-color: var(--cor04);
    margin: -2px auto -11px auto;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 4px 1px rgba(0, 0, 0, 0.199);
    max-width: 900px;
    min-width:652px;
}

main h1{
    text-align: center;
    color: var(--cor08);
}

iframe{
    margin: 10px 10px 10px 69px;
    padding: 2px 2px 52px 15px;
    width: 758px;
    height: 354px;
}

#tripe{
    margin: 43px auto 65px auto;
}

.blocos-main{
    margin-bottom: 40px;
}

main h3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}


.txtmain{
    display: inline-block;
}

main p{
}

main img{
    width: 320px; 
    height: 211px;
}
/* Fim Main */

/* Footer */
footer {
    background-color:var(--cor05);
    min-width: 850px;
    max-width: 1700px;
    height: 45px;
    padding: 4px 0px 10px 10px;
    margin:14px -8px -8px -11px;
    border-radius: 10px 3px 2px 2px;

}

footer>nav p{
    margin-left: 31px;
    display: inline-block;
    color: rgb(31, 29, 29);
    border-radius: 2px 2px 2px 2px;
}

footer>nav p strong{
    color: whitesmoke;
}

/* Fim Footer */